{% extends "EmotionBundle:default:layout.html.twig" %}

{% block title %} eMotion - Modification {% endblock %}

{% block body %}
    <div class="container">
        <div class="admin_forms" style="display: block">
        <h3>Modifier</h3>
        {{ form(form) }}
        </div>
    </div>
{% endblock %}