#header {
    /*border-bottom: 1px solid #676767;*/
    box-shadow: 1px 1px 1px #676767;
    margin-bottom:30px;
}
.navbar-default {
    border:1px solid blue;
    background: blue;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size:140%;
}
.navbar-default .navbar-nav>li>a {
    color:white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background: #0033ff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #0033ff;
}
.navbar-nav>li>.dropdown-menu {
    width: 100%;
    font-size: 120%;
}
.navbar-nav>li>.dropdown-menu li {
    padding: 5px 0;
}