<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Mes Location</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Mes Location</h1>
            <nav class="nav nav-tabs">
                <a class="nav-link active" href="/">Accueil</a>
                <a class="nav-link" href="/new">Créér Fiche</a>
            </nav>
            {% block content %}{% endblock%}
            <hr>
            <div class="text-center">
                Copyright Geoffrey 2018
            </div>
        </div>

    </body>
</html>